.blogs {
  width: 1054px;
  margin: 0 auto;
}

.blogs__title {
  font-size: 50px;
  font-weight: normal;
  line-height: 100px;
  text-align: center;
}

.blogs__item {
  display: flex;
  justify-content: space-between;

  &--1 {
    margin-bottom: 190px;
  }
}

.blogs__frame {
  position: relative;
  overflow: hidden;
  width: 525px;
  height: 353px;
}

.blogs__text-wrapper {
  width: 470px;
}

.blogs__name {
  font-size: 40px;
  font-style: italic;
}

.blogs__text {
  font-size: 18px;
  line-height: 31px;
}

.blogs__button {
  width: 140px;
  height: 52px;
  background-color: @white;
  border: 1px solid @grey;
}
