.instractors {
  width: 1054px;
  margin: 0 auto;
}

.instractors__title {
  font-size: 50px;
  font-weight: normal;
  line-height: 100px;
  text-align: center;
}

.instractors__wrapper {
  display: flex;
  justify-content: space-between;
}

.instractors__frame {
  position: relative;
  width: 291px;
  height: 355px;
  overflow: hidden;
}

.instractors__img {
  position: absolute;

  &--simon {
    right: -50px;
  }

  &--elliana {
    top: -290px;
    right: -50px;
  }

  &--joseph {
    top: -100px;
    right: -210px;
  }
}

.instractors__name {
  font-size: 30px;
  text-align: center;
  margin: 0;
}

.instractors__students {
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  color: green;
  margin: 0;
}
